.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  max-width: 268px;
  max-height: 208px;
  cursor:grab;
  position: relative;

}

.card__link{
  text-decoration: none;
  color: white;
}

.card:nth-child(2n) {
  margin-left: 24px;
}

.price {
  display: flex;
  align-items: center;
  text-align: center;
}

.card_isDragging{
  background:radial-gradient(circle,rgba(87,0,255,.35)0,#131316 65%)
}