.section {
  max-width: 600px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-left: 16px;
  padding-right: 6px;
  flex-wrap: wrap;
}

.scrollbar {
  height: 719px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.link {
  text-decoration: none;
}
