.header{
  background-color: #1c1c21;
  max-width: 1920px;
  margin: 0 auto;
}

.nav{
  max-width: 1280px;
  margin: 0 auto;
}

.menu{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  align-items: center;
}

.menu__item{
 text-align: center;
 display: flex;
 align-items: center;
 text-decoration: none;
 color: #8585AD;
 transition: color .2s ease-in-out;
}

.menu__item_active{
  color: #fff;
}
  
.navigation__item:hover{
  color: #fff;
}

.mr_l{
 margin-left: auto;
}

.m_center{
margin: 0 auto;
}