.section {
  width: 600px;
}

.burger_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.list_item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list_item:last-child {
  margin-bottom: 0;
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.price {
  display: flex;
  align-items: center;
}

.price_icon svg {
  width: 100%;
  height: 100%;
}

.price_icon {
  width: 38px;
  height: 38px;
}

.scrollbar {
  margin-top: 14px;
  margin-bottom: 14px;
  overflow-y: scroll;
  height: 464px;
  padding-right: 16px;
  box-sizing: border-box;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.constructor__bunElement {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.constructor__text {
  text-align: center;
}

.constructor__bunElements{
  border: 2px dashed white;
  padding: 15px 23px;
  display: inline-block;
  background: #1c1c21;
  max-width: 486px;
  min-height: 48px;
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 24px;
  color: #F2F2F3;
  flex-grow: 1;}

.constructor__bunElements_top{
  border-radius: 88px 88px 40px 40px;
}

.constructor__bunElements_buttom{
  border-radius: 40px 40px 88px 88px;
}